{% extends 'layout.html' %}
{% block menu %}
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
<li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/logout">Log out</a></li>
{% endblock %}