{% extends "layout.html" %}
{% load comments %}

{% block content %}

<div id="headerCarousel" class="carousel slide">
	<div class="carousel-inner">
		{% for item in carousel_images %}
			<div class="item {% if item == carousel_images|first %}active{%endif%}"><img style="width:970px" src="{{STATIC_URL}}img/carousel/{{item}}"/></div>
		{% endfor %}
	</div>
	
	<a style="margin-top:5px;" class="carousel-control left" href="#headerCarousel" data-slide="prev">&lsaquo;</a>
	<a style="margin-top:5px;" class="carousel-control right" href="#headerCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
	<div id="blog_section" class="span7">
		<div style="padding:5px;">
			<h2>Welcome message</h2>
			<strong>Visitors to the New Forest (millions every year) will use their smartphones to capture and classify the sound 
			produced by the cicada, effectively mapping where the insect can or cannot be found. A smartphone app to classify 
			the call is currently being developed, while research is looking into methods to incentivise people's involvement.</strong>
		</div>
		
		<div style="border-bottom: 1px solid rgb(238, 238, 238);padding-top:10px;">
			<h3 style="display:inline;">{{post.title}}</h3>
			<h4 style="display:inline;float:right;margin-top:6px;">
				{% get_comment_count for post as comment_count %}
				<a href="/blog/{{post.id}}#comment_form" style="color:inherit;text-decoration:none;">Comments: <span class="badge">{{comment_count}}</span></a>
			</h4>
		</div>
		<div style="padding:5px;">
			<em class="">Posted by {{post.author}}, {{ post.pub_date|date:"d F Y" }}</em>
			{{ post.content|safe|linebreaks }}
			<br/>
		</div>
	</div>
	<div class="span3">
		<div class="well">
			<h4>Twitter</h4>
			<br/>	
			<div id="twitter_feed"></div>
			<em class="pull-right">Follow us on <a href="http://www.twitter.com/newforestcicada">Twitter</a></em>
			<br/>
		</div>
		<br/>
		<div class="well">
			<h4>Weather</h4>
			<br/>	
			<div id="weather_feed"></div>
			<br/>
			<em class="pull-right">Weather supplied by The Met Office</em>
			<br/>
		</div>
	</div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
	
	$.ajax({
		url: '/weather',
		dataType: 'json',
		success: function(data, textStatus, jqXHR){
			weatherdata = {
				'NA':'Not available',
				'0':'Clear sky',
				'1':'Sunny',
				'2':'Partly cloudy (night)',
				'3':'Sunny intervals',
				'4':'Dust',
				'5':'Mist',
				'6':'Fog',
				'7':'Medium-level cloud',
				'8':'Low-level cloud',
				'9':'Light rain shower (night)',
				'10':'Light rain shower (day)',
				'11':'Drizzle',
				'12':'Light rain',
				'13':'Heavy rain shower (night)',
				'14':'Heavy rain shower (day)',
				'15':'Heavy rain',
				'16':'Sleet shower (night)',
				'17':'Sleet shower (day)',
				'18':'Sleet',
				'19':'Hail shower (night)',
				'20':'Hail shower (day)',
				'21':'Hail',
				'22':'Light snow shower (night)',
				'23':'Light snow shower (day)',
				'24':'Light snow',
				'25':'Heavy snow shower (night)',
				'26':'Heavy snow shower (day)',
				'27':'Heavy snow',
				'28':'Thundery shower (night)',
				'29':'Thundery shower (day)',
				'30':'Thunder storm',
				'31':'Tropical storm',
				'33':'Haze',
			};
			
			days = {
				'0':'Sunday',
				'1':'Monday',
				'2':'Tuesday',
				'3':'Wednesday',
				'4':'Thursday',
				'5':'Friday',
				'6':'Saturday'
			}
			console.log(data.SiteRep.DV.Location.Period[0]);
			
			console.log();
			
			weather_string = "";
			$.each(data.SiteRep.DV.Location.Period, function(index, value){
				d = data.SiteRep.DV.Location.Period[index]['@val'];
				dd = new Date(d.substring(0, d.length - 1));
				weather_string += days[dd.getDay()] + ' - ' + weatherdata[data.SiteRep.DV.Location.Period[index].Rep[0]['@W']];
				weather_string += "<br/>";
			});
			$('#weather_feed').html(weather_string);
		}
	});
	
	
	$.ajax({
		url: "http://api.twitter.com/1/statuses/user_timeline.json?screen_name=bbcnews&count=3&include_rts=1",
		dataType: "jsonp",
		jsonpCallback: "populateTwitterList"
	});
	function populateTwitterList(data) {
		tweet_string = ""
		$.each(data, function(index, value){
			tweet_string += '<a target="_blank" href="http://twitter.com/'
			tweet_string += value.user.screen_name + '/status/' + value.id_str;
			tweet_string += '">' + value.text + '</a><br/><br/>';
		});
		$('#twitter_feed').html(tweet_string);
	}

</script>
{% endblock %}