{% extends "layout.html" %}

{% block content %}
<div id="headerCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item"><img style="width:970px" src="{{STATIC_URL}}img/pinchen3-2-960x300.jpg"/></div>
		<div class="active item"><img style="width:970px" src="{{STATIC_URL}}img/Jaroslav_scaled.jpg"/></div>
	</div>
	
	<a style="margin-top:5px;" class="carousel-control left" href="#headerCarousel" data-slide="prev">&lsaquo;</a>
	<a style="margin-top:5px;" class="carousel-control right" href="#headerCarousel" data-slide="next">&rsaquo;</a>
</div>
<h2 style="text-align:justify">The Team</h2>
<div style="padding:10px 0;">
	<strong>Principal Investigator:</strong> Dr Alex Rogers [@ - www]<br/>
	<strong>Research Team:</strong> Davide Zilli [@ - www]
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta dictum velit eu mattis. Praesent ac
 nunc in nunc varius sodales. Cras facilisis rutrum congue. Suspendisse potenti. Sed eu ante diam, in porttitor 
 quam. Pellentesque ac urna vitae massa auctor imperdiet et quis ligula. In magna velit, consectetur feugiat 
 placerat at, mattis in eros. Quisque in congue nulla. Maecenas ac velit sed tellus cursus gravida sit amet aliquet nibh. </p>
<div class="well" style="text-align:center;">
	<img src="{{STATIC_URL}}img/soton.png" />
	<img src="{{STATIC_URL}}img/orchid.png" />
	<img src="{{STATIC_URL}}img/epsrc.png" />
</div>
{% endblock %}